/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.brand-logo img {
  max-width: 140px;
  margin-top: 15px
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

header, main, footer {
  padding-left: 300px;
}

main {
  padding-top: 20px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 95%;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.dashboard-row {
  margin-bottom: 0px;
}

.dashboard-title {
  margin-top: 5px;
  margin-left: 40px;
}